*{
	margin:0;
	padding:0;
	
	}
	
.main{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Meemure_in_Sri_Lanka.jpg);
	height:100vh;
	background-size:cover;	
	background-position:center;	

}

.right ul{
	float:right;
	margin-top:500px;
	margin-right:750px;
	
	
}
.right ul li{
	list-style-type:none;
	display:inline-block;
}
.right ul li a{
	text-decoration:none;
	padding:15px 10px;
	border-radius:7px;
	border:1px solid #fff;
	color:#fff;
	transition: 0.5s ease; 
	font-size:18px;
 }
.right ul li a:hover{
	color:black;
	background-color:#fff;
}
.logo{
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	width:100%;
	height:65px;}
	

.logo img{
	
	position:absolute;
	float:left;
	width:150px;
}

.main ul{
	position:absolute;
	top:20%;
	left:1%;
	color:#fff;
	padding:62px 25px;
}
.main ul li{
	list-style-type:none;
	display:inline-block;
	font-size:20px;
	font-family:Helvetica;
	text-align:left;
	padding-top:7px;
	margin-top:10px;
	
	
}
.main ul li a{
	background-color:rgba(0,0,0,0.5);
	text-decoration:none;
	padding:40px;
	border-radius:10px;
	color:#fff;
	transition: 0.5s ease; 
	margin:5px;
 }
 
ul li a:hover{
	color:black;
	background-color:#fff;
}


.bottom{
	background-color:#ffffff;
	position:absolute;
	width:100%;
	height:2px;
	margin-top:50px;
	
	
	
}